{% include 'includes/flash_message.html' %}

<h2>Order</h2>
<table class="table">
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Total Price</th>
    <th></th>
  </tr>
  {% for item in order.items %}
  <tr>
    <td>{{ item.name }}</td>
    <td>{{ item.quantity }}</td>
    <td>{{ format_price(item.price * item.quantity) }}</td>
    {% if not disable_order_button %}
    <td>
      <button class="btn btn-remove"
              type="button" id="{{ item.id }}">Remove</button>
    </td>
      {% endif %}
  </tr>
  {% endfor %}
  <tr>
    <th>Total</th>
    <th></th>
    <th>{{ format_price(order.total) }}</th>
    <th>
      {% if not disable_order_button %}
      <a href=
         "{{ url_for('place_order', merchant_id=merchant.id) }}"
         class="btn btn-primary">Place Order</a>
      {% endif %}
    </th>
  </tr>
</table>
