
/* Main stylesheet */

/* @section forms */
.btn.cancel { margin-left: 0.5rem; }
.nowrap { white-space: nowrap; }

/* Your customizations here */
.modal {
    display:    none;
    height:     100%;
    width: 150%;
    position:absolute;
    left:0;
    top:0;
    right:0;
    border-style:hidden;
    background: #FFFFFF
                url('../img/loading.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
.modal-body.loading {
    overflow: hidden;   
    pointer-events: none;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}
