<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand">Clover Example App</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li>
            <a href="{{ url_for('customer_home') }}">Customer</a>
          </li>
          <li>
            <a href="{{ url_for('merchant_home') }}">Merchant</a>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!-- /.navbar .container -->
  </div><!-- /.navbar-inner -->
</div><!-- /navbar -->
